@use "variables" as var;

/* Общий цвет текста и шрифт для PrimeNG */
.p-component {
  font-family: var.$font-family-base !important;
  color: var.$background !important;
}

/* Кнопки */
.p-button {
  background-color: var.$background !important;
  border: none !important;
  color: #fff !important;
  font-family: var.$font-family-base;

  &:hover {
    opacity: 0.9;
  }
}

/* Карточки */
.p-card {
  font-family: var.$font-family-base;
  color: var.$background;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);

  &:hover {
    opacity: 0.95;
    cursor: pointer;
  }

  &.card-p-card {
    height: 350px;
    overflow: hidden;

    .p-card-header {
      height: 180px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .p-card-content {
      -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
    }
  }
}

/* Accordion */
.p-accordion {
  font-family: var.$font-family-base !important;
  color: var.$background !important;
}

.p-accordion-header-link {
  color: var.$background !important;
  font-weight: 500;
}

.p-accordion-content {
  color: var.$background !important;
}

/* === Carousel Indicators === */
.p-carousel-indicators {
  justify-content: center !important;
  margin-top: 1rem !important;

  .p-carousel-indicator button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    border: none !important;
    background-color: lighten(var.$background, 40%) !important; /* светлее неактивные */
    margin: 0 4px !important;
    transition: background-color 0.3s ease !important;
    cursor: pointer;
  }

  .p-carousel-indicator.p-highlight button {
    background-color: var.$background !important; /* активный */
  }
}
