<div class="gallery">
  <h2 class="text-center mb-4">Галерея выполненых работ</h2>

  <div class="p-grid p-justify-center p-mx-2">
    <div
      class="p-col-12 p-sm-6 p-md-4 p-lg-3 mb-4"
      *ngFor="let card of cards"
    >
      <p-card>
        <ng-template pTemplate="header" *ngIf="card.imgUrl">
          <img
            [src]="card.imgUrl"
            [alt]="card.name"
            (click)="openImage(card.imgUrl!)"
            style="width: 100%; height: 200px; object-fit: cover; cursor: zoom-in;"
          />
        </ng-template>

        <ng-template pTemplate="title">
          {{ card.name }}
        </ng-template>

        <ng-template pTemplate="content">
          <p>{{ card.description }}</p>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

<!-- Fullscreen preview -->
<div
  class="image-overlay"
  *ngIf="selectedImgUrl"
  (click)="closeImage()"
>
  <img [src]="selectedImgUrl" class="zoomed-image" />
</div>
