@use "variables" as var;

:host {
  display: block;
  padding: 2rem;
}
 .cards-title{
  font-family: var.$font-family-base;
}
.cards-title {
  font-size: 2rem;
  font-weight: 700;
  color: var.$background;
  text-align: center;
  margin-bottom: 4.5rem;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
  justify-items: center;
}

.card-item {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }

  p-card {
    width: 100%;
    border: none;
    background: transparent;
    box-shadow: none;

    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 1rem;
    }

    .card-title {
      font-size: 1.25rem;
      font-weight: 600;
      text-align: center;
      color: var.$background;
      margin-bottom: 1rem;
      
    }

    ::ng-deep .p-card-content {
      padding: 0;
    }

    ::ng-deep .p-button {
      background-color: var.$background !important;
      border: none !important;
      color: #fff !important;
    }

    ::ng-deep .p-button:hover {
      opacity: 0.9;
    }
  }
}

@media (max-width: 900px) {
  .cards-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards-list {
    grid-template-columns: 1fr;
  }
}
