<h2 class="cards-title text-center mb-4">Основные типы душевых ограждений</h2>

<p class="cards-description text-center m-4">
  На карточках представлены наиболее популярные схемы душевых ограждений, которые мы изготавливеаем на заказ по Вашим размерам.<br>  
  Если вы не нашли ограждение, которое вас интересует, напишите нам —  
  и мы предложим варианты, которые подойдут именно вам.
</p>

@if (loading) {
  <p-progressSpinner></p-progressSpinner>
} @else {
  <div class="cards-list">
    @for (item of cards; track item.id) {
      <div class="card-item">
        <p-card styleClass="card-p-card">
          <ng-template pTemplate="header">
            <img
              [alt]="item.name"
              [src]="item.img ? ('assets/img/cards/' + item.img) : (item.imgUrl || '')"
              (error)="onImgError($event, item)"
              loading="lazy"
            />
          </ng-template>

          <ng-template pTemplate="title">
            <h3 class="card-title">{{ item.name }}</h3>
          </ng-template>

          <ng-template pTemplate="footer">
            <p-button
              label="Подробнее"
              class="w-full"
              (click)="goToCard(item)"
            ></p-button>
          </ng-template>
        </p-card>
      </div>
    }
  </div>
}




