<div class="layout-header">

  <!-- Бургер  -->
  <div class="burger-menu" *ngIf="isMobile">
    <button pButton type="button" icon="pi pi-bars" (click)="menuVisible = !menuVisible"></button>
    <div class="burger-panel" *ngIf="menuVisible">
      <ul>
        <li *ngFor="let item of menuItems" (click)="navigate(item.routerLink)">
          {{ item.label }}
        </li>
      </ul>
    </div>
  </div>

  <!-- Меню десктоп -->
  <div class="layout-header__menu" *ngIf="!isMobile">
    <p-menubar [model]="menuItems"></p-menubar>
  </div>

  
  <div class="layout-header__right-block">
    <p-button label="Контакты" (click)="goToContacts()"></p-button>
  </div>
</div>
