<section class="hero-detail">
  <div class="text-block">
    <h2>Изготовим и установим душевое ограждение по Вашим размерам</h2>
    <p>
      Уже 15 лет занимаемся проектированием и установкой душевых, ограждений, дверей,
      перегородок из стекла на заказ по индивидуальным проектам. Установили более 2000 изделий из стекла.
    </p>
  </div>

  <div class="image-container">
    <img src="assets/img/hero-image.png" alt="Изделие из стекла" />

    <div class="annotation" style="top: 20%; left: 25%;">
      <img class="arrow" src="assets/img/arrow2.png" />
      <button class="label" [routerLink]="['/blog']" [queryParams]="{ tag: 'фурнитура' }">
        Фурнитура из нержавеющей стали
      </button>
    </div>

    <div class="annotation" style="top: 45%; left: 70%;">
      <img class="arrow" src="assets/img/arrow3.png" />
      <button class="label" [routerLink]="['/blog']" [queryParams]="{ tag: 'стекло' }">
        Закалённое стекло толщиной 10мм
      </button>
    </div>

    <div class="annotation" style="top: 85%; left: 18%;">
      <img class="arrow" src="assets/img/arrow1.png" />
      <button class="label" [routerLink]="['/blog']" [queryParams]="{ tag: 'профиль' }">
        Алюминиевый <br>установочный профиль
      </button>
    </div>

    <div class="annotation" style="top: 60%; left: 58%;">
      <img class="arrow" src="assets/img/arrow4.png" />
      <button class="label" [routerLink]="['/blog']" [queryParams]="{ tag: 'уплотнители' }">
        Уплотнители ПВ
      </button>
    </div>
  </div>
</section>

