@use "sass:color";
@use "variables" as var;

:host {
  display: block;
}

.hero-detail {
  padding: 3rem 2rem;
  font-family: var.$font-family-base;
  margin-bottom: 3rem;

  .text-block {
    text-align: center;
    margin-bottom: 2rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 2rem;
      color: var.$background;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.5;
      color: #495057;
    }
  }

  .image-container {
    position: relative;
    width: 40%;
    max-width: 1000px;
    margin: 0 auto;

    img {
      width: 100%;
      display: block;
      border-radius: 0.5rem;
    }

    .annotation {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .arrow {
        width: 100px;
        height: 100px;
        margin-bottom: 0.5rem;
      }

      .label {
        background-color: var.$background;
        color: #fff;
        padding: 0.4rem 0.8rem;
        border: none;
        border-radius: 0.25rem;
        font-size: 0.9rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          background-color: color.adjust(var.$background, $lightness: -10%);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    display: none;
  }
}
