@use "variables" as var;

:host {
  display: block;
  font-family: var.$font-family-base;
}

.faq-section {
  padding: 3rem 1rem;
  max-width: 900px;
  margin: 0 auto;
  font-family: var.$font-family-base;

  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: var.$background;
  }

  ::ng-deep .p-accordion {
    font-family: var.$font-family-base !important;
    color: var.$background !important;
  }

  ::ng-deep .p-accordion-header-link {
    font-family: var.$font-family-base !important;
    color: #3c3422 !important;
    font-weight: 600;
  }

  ::ng-deep .p-accordion-header-link.p-highlight {
    color: var.$background !important;
  }

  ::ng-deep .p-accordion-content {
    font-family: var.$font-family-base !important;
    color: var.$background !important;
    font-size: 1.125rem !important;
    line-height: 1.6;
  }

  ::ng-deep .p-accordion-toggle-icon {
    color: #3c3422 !important;
  }

  ::ng-deep .p-accordion-header-link.p-highlight .p-accordion-toggle-icon {
    color: var.$background !important;
  }
}
