@use "variables" as var;

:host {
  display: block;
}

.faq-section {
  padding: 3rem 1rem;
  max-width: 900px;
  margin: 0 auto;

  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: var.$background;
  }

  ::ng-deep .p-accordion .p-accordion-tab {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    overflow: hidden;
    border: 1px solid transparent;
  }

  ::ng-deep .p-accordion .p-accordion-tab-active {
    border-color: var.$background;
    box-shadow: 0 0 0 2px rgba(79, 71, 50, 0.2);
  }

  ::ng-deep .p-accordion .p-accordion-header {
    background-color: #f6f6f6;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var.$background !important; 
  }

  ::ng-deep .p-accordion .p-accordion-content {
    padding: 1rem;
    background-color: #fff;
    font-size: 1.125rem;
    line-height: 1.6;
    color: var.$background !important;
  }

  
  ::ng-deep .p-accordion-header .p-accordion-toggle-icon {
    color: var.$background;
  }
}


