.main-content {
  flex: 1;
  background: var.$background;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // 👈 опускаем контент чуть вниз
  align-items: flex-start;
  padding: 5rem 3rem; // 👈 чуть больше верхний padding
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #fff;
  position: relative;

  .main-title {
    margin-top: 2rem; 
    margin-bottom: auto;

    .title-top,
    .title-bottom {
      font-size: 7.5rem; 
      font-weight: 700;
    }

    .title-top {
      position: relative;
      left: -50%;
      white-space: nowrap;
    }

    .title-bottom {
      margin-top: 1.5rem;
    }
  }

  .main-button {
    margin-top: auto;
    align-self: flex-end;
    margin-right: 2rem;

    font-size: 1.3rem;
    padding: 1.2rem 2.5rem;

    border-radius: 8px;
    font-weight: 600;
  }
}
