<section class="main-banner">
  <div class="main-grid">
    <div class="main-image">
      <picture>
        <source
          media="(min-width: 576px)"
          srcset="/assets/img/main-banner-desktop.webp"
          width="1672"
          height="941"
        />
        <img
          src="/assets/img/main-banner.webp"
          alt="Душевые ограждения"
          width="742"
          height="990"
          fetchpriority="high"
        />
      </picture>

      <!-- Добавлено для мобильной версии -->
      <div class="main-overlay-mobile">
        <h1 class="title-mobile">
          ДУШЕВЫЕ ОГРАЖДЕНИЯ<br />
          ИЗ СТЕКЛА НА ЗАКАЗ
        </h1>
        <button
          #mobileMeasureBtn
          pButton
          type="button"
          label="Вызвать мастера на замер"
          class="main-button"
          (click)="onMeasureClick(mobileMeasureBtn)"
        ></button>
      </div>
    </div>

    <!-- Desktop content -->
    <div class="main-content">
      <div class="main-title">
        <div class="title-top">ДУШЕВЫЕ ОГРАЖДЕНИЯ</div>
        <div class="title-bottom">ИЗ СТЕКЛА НА ЗАКАЗ</div>
      </div>

      <button
        #desktopMeasureBtn
        pButton
        type="button"
        label="Вызвать мастера на замер"
        class="main-button"
        (click)="onMeasureClick(desktopMeasureBtn)"
      ></button>
    </div>
  </div>
</section>

  

