@use "variables" as var;

:host {
  height: 60px;
  width: 100%;
  display: block;
}

.layout-footer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  background: var.$footer-background;
  color: #FFF;
  height: 100%;
  padding: 4px, 6px;

  &__right-block {

    display: flex;
    
    & .social-icons{
      width: 400px;
    }
    
  }
}