:host {
  display: block;
}

.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.layout-container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .custom-spinner {
    width: 80px;
    height: 80px;
  }
}


.main-content {
  flex: 1;
  padding-top: 0;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 0;
    padding-bottom: 120px;
  }
}
