@use "variables" as var;

:host {
  display: block;
}

.big-button {
  font-size: 1.25rem;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: var.$radius-md;
  color: var.$background;
  background-color: transparent;
  border: 2px solid var.$background;
  transition: background-color var.$transition-base, color var.$transition-base;

  &:hover {
    background-color: var.$background;
    color: var.$text-on-dark;
  }
}
