<app-main></app-main>
<app-hero></app-hero>

<div class="container mt-5">
  <app-cards></app-cards>
</div>

<div class="container mt-5">
  <app-accordion></app-accordion>
</div>

<!-- Блок с примерами (добавляем сюда) -->
<div class="container mt-5">
  <app-examples></app-examples>

  <!-- Кнопка под каруселью -->
 <div class="text-center mt-3">
  <button
    pButton
    type="button"
    class="big-button"
    routerLink="/gallery"
  >
    Смотреть больше примеров готовых душевых
  </button>
</div>

<div class="container mt-5">
  <app-contactform></app-contactform>
</div>

