:host {
  display: block;
}

.desauth-container {
  position: relative;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem 1rem 2rem 1rem;
}

.logout-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}

::ng-deep .p-tabview-nav {
  justify-content: center;
}
