@use "variables" as var;

:host {
  display: block;
}

.card-detail-wrap {
  padding: 2rem;
}

.card-detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.card-image img {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.4s ease;
}

.card-description {
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var.$background;
  }

p {
    font-size: 1.125rem;
    color: #444;
    white-space: pre-wrap; 
    word-wrap: break-word;
    line-height: 1.6;
  }
}

button[pButton] {
  background-color: var.$background !important;
  border: none !important;
  color: #fff !important;

  &:hover {
    opacity: 0.9;
  }
}

@media (max-width: 768px) {
  .card-detail-grid {
    grid-template-columns: 1fr;
  }
}



