
<p-button
label="Back"
styleClass="p-button-link"
routerLink="/cards"
></p-button>

<div class="flex flex-1 card-item-wrap">
  @if (card; as currentCard) {
    <p-card 
      header="{{ currentCard.name }}"
      styleClass="p-card-shadow col-10 overflow-hidden card-item"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="/img/{{ currentCard.img }}" />
      </ng-template>
      <p>{{ currentCard.description }}</p>
    </p-card>
  } @else {
    <p>нет данных</p>
  }
</div>

   
    
