<section class="examples">
  <h2>Душевые ограждения, которые мы уже установили</h2>
  <p-carousel 
    [value]="examples" 
    [numVisible]="3" 
    [numScroll]="1" 
    circular
    [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-item pTemplate="item">
      <div class="example-item">
        <img
          [src]="item.image"
          [attr.alt]="item.title || 'Пример установленного ограждения'"
          loading="lazy"
        />
        <div class="example-title">{{ item.title }}</div>
      </div>
    </ng-template>
  </p-carousel>
</section>

